.siteheader {
	background-color: #ccc;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.siteheader-inner {
	position: relative;
	max-width: $maxWidth;
	margin: 0 auto;
	padding: 0 $padding;
}

.siteheader-logo {
	margin: 0;
	float: left;
	line-height: $siteHeaderHeight;
}